bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults
/node_modules
package-lock.json

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
node_modules/ask-sdk-core/CHANGELOG.md
node_modules/ask-sdk-core/LICENSE
node_modules/ask-sdk-core/package.json
node_modules/ask-sdk-core/README.md
node_modules/ask-sdk-core/dist/index.d.ts
node_modules/ask-sdk-core/dist/index.js
node_modules/ask-sdk-core/dist/index.js.map
node_modules/ask-sdk-core/dist/attributes/AttributesManager.d.ts
node_modules/ask-sdk-core/dist/attributes/AttributesManager.js
node_modules/ask-sdk-core/dist/attributes/AttributesManager.js.map
node_modules/ask-sdk-core/dist/attributes/AttributesManagerFactory.d.ts
node_modules/ask-sdk-core/dist/attributes/AttributesManagerFactory.js
node_modules/ask-sdk-core/dist/attributes/AttributesManagerFactory.js.map
node_modules/ask-sdk-core/dist/attributes/persistence/PersistenceAdapter.d.ts
node_modules/ask-sdk-core/dist/attributes/persistence/PersistenceAdapter.js
node_modules/ask-sdk-core/dist/attributes/persistence/PersistenceAdapter.js.map
node_modules/ask-sdk-core/dist/dispatcher/error/handler/CustomSkillErrorHandler.d.ts
node_modules/ask-sdk-core/dist/dispatcher/error/handler/CustomSkillErrorHandler.js
node_modules/ask-sdk-core/dist/dispatcher/error/handler/CustomSkillErrorHandler.js.map
node_modules/ask-sdk-core/dist/dispatcher/request/handler/CustomSkillRequestHandler.d.ts
node_modules/ask-sdk-core/dist/dispatcher/request/handler/CustomSkillRequestHandler.js
node_modules/ask-sdk-core/dist/dispatcher/request/handler/CustomSkillRequestHandler.js.map
node_modules/ask-sdk-core/dist/dispatcher/request/handler/HandlerInput.d.ts
node_modules/ask-sdk-core/dist/dispatcher/request/handler/HandlerInput.js
node_modules/ask-sdk-core/dist/dispatcher/request/handler/HandlerInput.js.map
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillRequestInterceptor.d.ts
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillRequestInterceptor.js
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillRequestInterceptor.js.map
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillResponseInterceptor.d.ts
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillResponseInterceptor.js
node_modules/ask-sdk-core/dist/dispatcher/request/interceptor/CustomSkillResponseInterceptor.js.map
node_modules/ask-sdk-core/dist/response/ImageHelper.d.ts
node_modules/ask-sdk-core/dist/response/ImageHelper.js
node_modules/ask-sdk-core/dist/response/ImageHelper.js.map
node_modules/ask-sdk-core/dist/response/PlainTextContentHelper.d.ts
node_modules/ask-sdk-core/dist/response/PlainTextContentHelper.js
node_modules/ask-sdk-core/dist/response/PlainTextContentHelper.js.map
node_modules/ask-sdk-core/dist/response/ResponseBuilder.d.ts
node_modules/ask-sdk-core/dist/response/ResponseBuilder.js
node_modules/ask-sdk-core/dist/response/ResponseBuilder.js.map
node_modules/ask-sdk-core/dist/response/ResponseFactory.d.ts
node_modules/ask-sdk-core/dist/response/ResponseFactory.js
node_modules/ask-sdk-core/dist/response/ResponseFactory.js.map
node_modules/ask-sdk-core/dist/response/RichTextContentHelper.d.ts
node_modules/ask-sdk-core/dist/response/RichTextContentHelper.js
node_modules/ask-sdk-core/dist/response/RichTextContentHelper.js.map
node_modules/ask-sdk-core/dist/response/TextContentHelper.d.ts
node_modules/ask-sdk-core/dist/response/TextContentHelper.js
node_modules/ask-sdk-core/dist/response/TextContentHelper.js.map
node_modules/ask-sdk-core/dist/service/DefaultApiClient.d.ts
node_modules/ask-sdk-core/dist/service/DefaultApiClient.js
node_modules/ask-sdk-core/dist/service/DefaultApiClient.js.map
node_modules/ask-sdk-core/dist/skill/CustomSkill.d.ts
node_modules/ask-sdk-core/dist/skill/CustomSkill.js
node_modules/ask-sdk-core/dist/skill/CustomSkill.js.map
node_modules/ask-sdk-core/dist/skill/CustomSkillConfiguration.d.ts
node_modules/ask-sdk-core/dist/skill/CustomSkillConfiguration.js
node_modules/ask-sdk-core/dist/skill/CustomSkillConfiguration.js.map
node_modules/ask-sdk-core/dist/skill/SkillBuilders.d.ts
node_modules/ask-sdk-core/dist/skill/SkillBuilders.js
node_modules/ask-sdk-core/dist/skill/SkillBuilders.js.map
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillBuilder.d.ts
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillBuilder.js
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillBuilder.js.map
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillFactory.d.ts
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillFactory.js
node_modules/ask-sdk-core/dist/skill/factory/BaseSkillFactory.js.map
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillBuilder.d.ts
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillBuilder.js
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillBuilder.js.map
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillFactory.d.ts
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillFactory.js
node_modules/ask-sdk-core/dist/skill/factory/CustomSkillFactory.js.map
node_modules/ask-sdk-core/dist/util/RequestEnvelopeUtils.d.ts
node_modules/ask-sdk-core/dist/util/RequestEnvelopeUtils.js
node_modules/ask-sdk-core/dist/util/RequestEnvelopeUtils.js.map
node_modules/ask-sdk-core/dist/util/SsmlUtils.d.ts
node_modules/ask-sdk-core/dist/util/SsmlUtils.js
node_modules/ask-sdk-core/dist/util/SsmlUtils.js.map
node_modules/ask-sdk-core/dist/util/ViewportUtils.d.ts
node_modules/ask-sdk-core/dist/util/ViewportUtils.js
node_modules/ask-sdk-core/dist/util/ViewportUtils.js.map
node_modules/ask-sdk-runtime/CHANGELOG.md
node_modules/ask-sdk-runtime/LICENSE
node_modules/ask-sdk-runtime/package.json
node_modules/ask-sdk-runtime/README.md
node_modules/ask-sdk-runtime/dist/index.d.ts
node_modules/ask-sdk-runtime/dist/index.js
node_modules/ask-sdk-runtime/dist/index.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/GenericRequestDispatcher.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/GenericRequestDispatcher.js
node_modules/ask-sdk-runtime/dist/dispatcher/GenericRequestDispatcher.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/RequestDispatcher.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/RequestDispatcher.js
node_modules/ask-sdk-runtime/dist/dispatcher/RequestDispatcher.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/error/handler/ErrorHandler.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/error/handler/ErrorHandler.js
node_modules/ask-sdk-runtime/dist/dispatcher/error/handler/ErrorHandler.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/ErrorMapper.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/ErrorMapper.js
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/ErrorMapper.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/GenericErrorMapper.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/GenericErrorMapper.js
node_modules/ask-sdk-runtime/dist/dispatcher/error/mapper/GenericErrorMapper.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericHandlerAdapter.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericHandlerAdapter.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericHandlerAdapter.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericRequestHandlerChain.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericRequestHandlerChain.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/GenericRequestHandlerChain.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/HandlerAdapter.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/HandlerAdapter.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/HandlerAdapter.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandler.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandler.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandler.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandlerChain.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandlerChain.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/handler/RequestHandlerChain.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/RequestInterceptor.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/RequestInterceptor.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/RequestInterceptor.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/ResponseInterceptor.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/ResponseInterceptor.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/interceptor/ResponseInterceptor.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/GenericRequestMapper.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/GenericRequestMapper.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/GenericRequestMapper.js.map
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/RequestMapper.d.ts
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/RequestMapper.js
node_modules/ask-sdk-runtime/dist/dispatcher/request/mapper/RequestMapper.js.map
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfiguration.d.ts
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfiguration.js
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfiguration.js.map
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfigurationBuilder.d.ts
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfigurationBuilder.js
node_modules/ask-sdk-runtime/dist/skill/RuntimeConfigurationBuilder.js.map
node_modules/ask-sdk-runtime/dist/skill/Skill.d.ts
node_modules/ask-sdk-runtime/dist/skill/Skill.js
node_modules/ask-sdk-runtime/dist/skill/Skill.js.map
node_modules/ask-sdk-runtime/dist/util/AskSdkUtils.d.ts
node_modules/ask-sdk-runtime/dist/util/AskSdkUtils.js
node_modules/ask-sdk-runtime/dist/util/AskSdkUtils.js.map
package-lock.json
